* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(100deg, #2F4F4F, #7ba8a3);
  color: #fff;
  padding: 20px;
  min-height: 200vh;
}

main {
  max-width: 800px;
  margin: auto;
  background: #C0C0C0;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 50px #00ffe5;
}

header h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
  color: #070613c1;
  font-weight: bold;
  text-shadow: #d40e42;

}

h2 {
  margin-top: 18px;
  margin-bottom: 15px;
  color: #708090;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 0 0 3px #fff;
}

.personal,
.rating,
.feedback {
  margin-bottom: 18px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #191919e0;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background: #fff;
  color: #333;
  box-shadow: 0 0 10px #00ffe5;
}
textarea {
  height: 50px;
  resize: vertical;
}
.rating label {
  display: block;
  font-size: 15px;
  color: #ff00c8;
  cursor: pointer;
}
.rating input[type="radio"] {
  margin-right: 10px;
  transform: scale(1.1);
}
.button {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background: linear-gradient(5deg, #0011ff, #ffea00);
  color: #000;
  cursor: pointer;
  box-shadow: 0 0 10px #fff;
  transition: transform 0.2s ease;
}

button:hover {
  transform: scale(1.45);
  box-shadow: 0 0 15px #00ffe5;
}